
<form method="get"  action="/">
  <button type="submit"><h3>home</h3></button>

</form>
<form method="POST" action="/addpersone">
  <label for="nom"><h3> nom </h3></label>
  <input type="text" name="nom" /><br />

  <label for="prenom"><h3>prenom</h3></label><br />
  <input type="text" name="prenom" />
  <label for="age"><h3>age</h3></label><br />
  <input type="text" name="age" />

  <label for="adresse"><h3>adresse</h3></label><br />
  <input type="text" name="adresse" />
  <label for="email"><h3>email</h3></label><br />
  <input type="text" name="email" />
  <label for="id"><h3>id</h3></label><br />
  <input type="text" name="id" />

  <button type="submit"><h3>ajouter un utilisateur</h3></button>
</form>

