<form method="get" action="/">
  <button type="submit"><h3>home</h3></button>
</form>
<form method="POST" action="/deletepersone">
  <label for="id"> <h3>entrer le ID de l utilisateur</h3> </label>
  <input type="text" name="id" /><br />

  <button type="submit"><h3>supprimer l'utilisateur</h3></button>
</form>
