<form method="get" action="/addpersone">
    <button type="submit"><h3>ajouter un utilisateur</h3></button>
</form>

<form method="get" action="/deletepersone">
   <button type="submit"><h3>supprimer un utilisateur</h3></button>
</form>

<form method="get" action="/updatepersone">
   <button type="submit"><h3> modifier un utilisateur</h3></button>
</form>