



<form method="get"  action="/">
  <button type="submit"><h3>home</h3></button>

</form>

<form method="POST" action="/updatepersone">
   
  <label for="id"><h3>entrer le ID</h3></label>
  <input type="text" name="id" /><br />

  <h3>entrer les modifications</h3>

  <label for="nom"><h3>nom</h3></label>
  <input type="text" name="nom" /><br />

  <label for="prenom"><h3>prenom</h3></label><br />
  <input type="text" name="prenom" />

  <label for="age"><h3>age</h3></label><br />
  <input type="text" name="age" />

  <label for="adresse"><h3>adresse</h3></label><br />
  <input type="text" name="adresse" />  

  <label for="email"><h3>email</label><br />
  <input type="text" name="email" />  


  <button type="submit"><h3>modifier</h3></button>
</form>
